<!DOCTYPE html>
<html>
<head>
  <title>Binda shopify</title>
  <%= stylesheet_link_tag    "binda/shopify/application", media: "all" %>
  <%= javascript_include_tag "binda/shopify/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
